.emailsuccess{
    background-color: #EBF2FF; 
    min-height: 100vh;
    min-width: 100vw;
}
.emailsuccess-contain{
    align-items: center;
    justify-content: center;
    padding: 3.3rem;
}
.success-container{
    background-color: #F8F8F8;
    padding: 20px;
    width: 850px;
    color: white;
    height: 530px;
    border-radius: 16px;
    margin-left: 240px;
}
.success-contain{
    margin-left: 140px;
    margin-top: 170px;
}
.success-img{
    width: 9%;
    margin-left: 230px;
}
.success-h2{
    color: #000000;
    margin-left: 85px;
}
.success-h4{
    color: #777777;
    margin-left: 113px;
    font-size: 14px;
}
@media screen and (max-width: 768px) {
    .success-container{
        padding: none;
        margin-top: 45px;
        height: 100%;
        width: 405px;
        margin-left: -43px;
    }
    .success-contain{
        margin-top: 30px;
        margin-left: -90px;
    }
    .success-img{
        width: 15%;
        margin-left: 234px;
    }
    .success-h2{
        margin-left: 200px;
        font-size: 1.1rem;
    }
    .success-h4{
        font-size: 0.9rem;
        margin-left: 100px;
    }
}