.login{
    background-color: #EBF2FF; 
    min-height: 100vh;
    min-width: 100vw;
}
.login-contain{
    max-width: 1240px;
    margin: auto;
}
.login-nav{
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
    column-gap: 20px;
}
.log-p{
    color: #00122E;
}
.login-but{
    padding: 7px 18px;
    border: 1px solid #00122E;
    background-color: #00122E;
    color: #fff;
    border-radius: 16px;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
}
.login-container{
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    margin-top: 80px;
    column-gap: 40px;
}
.login-form{
    top: 40%;
    left: 50%;
    border-radius: 8px;
    background-color: #35246E;
    max-width: 700px;
    height: 78%;
  }
  .login-form-p{
    color: #FFFFFF;
    font-size: 2.0rem;
    margin-left: 100px;
  }
  label{
    color: #FFFFFF;
    margin-left: 25px;
  }
  .login-input-text{
    display: block;
    border: none;
    height: 2rem;
    width: 85%;
    margin-left: 20px ;
    margin-bottom: 1.5rem;
    padding: 0.2rem 0.3rem;
    font-size: small;
    color: #01C8FF;
    border-radius: 8px 8px;
    border:1.5px solid #EEEEEE;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color:#EEEEEE;
  }
  .login-input-text:hover{
    outline: 0.5px solid #EEEEEE;
    -webkit-box-shadow: 2px 2px 9px -2px #EEEEEE;
            box-shadow: 2px 2px 9px -2px #EEEEEE;
  }
  .input-p{
    color: #FFFFFF;
    margin-left: 25px;
  }
  .login-button{
    padding: 7px 18px;
    border: 1px solid #4F94FC;
    background-color: #4F94FC;
    color: #fff;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer; 
    margin-left: 140px; 
  }
.login-p{
    display: flex;
    margin-left: 20px;
}
.login-agreed{
    color: #FFFFFF;
  }
  .login-terms{
    color: #4F94FC;
  }
  @media screen and (max-width: 768px) {
    .login-right{
        width: 700%;
        background-color:#E3ECFF;
        height: 100%;
    }
    .login-left{
        display: none;
    }
}