.reset-email{
    background-color:#FFFFFF;
}
.reset-container{
    margin-left: 540px;
    margin-top: 120px;
}
.re-img{
    margin-left: 120px ;
}
.re-h2{
    color: #000000;
    font-size: 2.5rem;
    margin-left: 40px ;
}
.re-p{
    color: #000000;
}
.re-form{
    background-color:#FFFFFF;
}
.separe-email{
    display: flex;
    height: 2rem;
    width: 100%;
    margin-left: 5px ;
    margin-bottom: 1.5rem;
    padding: 0.2rem 0.3rem;
    font-size: small;
  /*  color: #01C8FF; */
    border:1.5px solid #858585;
    border-radius: 11px;
}
.re-input{
    outline: none;
    background-color: transparent;
    border: hidden;
    height: 2rem;
    width: 80%;
    margin-right: 38px ;
    margin-bottom: 1.5rem;
    padding: 0.9rem 1.4rem;
}
.separe-email .re-span{
    position: relative;
    left: 1vh;
    color: #858585;
}
.re-button{
    padding: 7px 18px;
    width: 90%;
    border: 1px solid #49397C;
    background-color: #49397C;
    color: #fff;
    border-radius: 11px;
    margin-left: 20px ;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
}