.reset-email{
    background-color: #EBF2FF; 
    min-height: 100vh;
    min-width: 100vw;
}
.re-contain{
    align-items: center;
    justify-content: center;
    padding: 3.3rem;
}
.reset-email-contain{
    background-color: #F8F8F8;
    padding: 20px;
    width: 850px;
    color: white;
    height: 530px;
    border-radius: 16px;
    margin-left: 170px;
}
.reset-container{
    margin-left: 200px;
    margin-top: 60px;
}
.re-img{
    margin-left: 150px ;
}
.re-h2{
    color: #000000;
    font-size: 2.5rem;
    margin-left: 50px ;
}
.re-p{
    color: #000000;
}
.re-form{
    background-color:#F8F8F8;
}
.separe-email{
    display: flex;
    height: 2rem;
    width: 60%;
    margin-left: 25px ;
    margin-bottom: 1.5rem;
    padding: 0.2rem 0.3rem;
    font-size: small;
  /*  color: #01C8FF; */
    border:1.5px solid #858585;
    border-radius: 11px;
}
.re-input{
    outline: none;
    background-color: transparent;
    border: hidden;
    height: 2rem;
    width: 80%;
    margin-right: 38px ;
    margin-bottom: 1.5rem;
    color: #000000;;
    padding: 0.9rem 1.4rem;
}
.separe-email .re-span{
    position: relative;
    left: 1vh;
    color: #858585;
}
.re-button{
    padding: 7px 18px;
    width: 50%;
    border: 1px solid #49397C;
    background-color: #49397C;
    color: #fff;
    border-radius: 11px;
    margin-left: 50px ;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .reset-email-contain{
        padding: none;
        margin-top: 45px;
        height: 100%;
        width: 405px;
        margin-left: -43px;
    }
    .reset-container{
        margin-top: 30px;
        margin-left: -90px;
    }
    .re-img{
        width: 15%;
        margin-left: 234px;
    }
    .re-h2{
        margin-left: 200px;
        font-size: 1.1rem;
    }
    .re-p{
        font-size: 0.9rem;
        margin-left: 100px;
    }
    .re-form{
        margin-left: 150px;
    }
    .separe-email{
      width: 96%;
      margin-left: -30px;
    }
    .re-button{
        width: 60%;
    }
}