.home{
  background: #EBF2FF; 
  min-height: 100vh;
   /* min-width: 100vw;*/
    top: 1;
    overflow: hidden;
} 

.home-contain{
  max-width: 1240px;
  margin: auto;
}
.container{
  display:flex;
  justify-content: space-between;
  padding: 1rem;
 }

 .nav-logo{
  justify-content: flex-start;
 }
 ul{
  list-style-type: none;
  display:flex;
  margin-left: 455px;
 }
 .nav-li{
  padding: 0 1rem;
  color: #00122E;
 }
 .nav-link{
  text-decoration: none;
 }
 .nav-link:hover{
  text-decoration: none;
}
 .nav-but{
  margin-top: -5px;
  padding: 7px 24px;
  border: 1px solid #00122E;
  background-color: #00122E;
  color: #fff;
  border-radius: 16px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
 }
 .hero-wrapper {
  display:flex;
  justify-content: space-evenly;
  align-items:flex-start;
  width:100%;
  font-size: 2rem
  /* padding: 0 1rem; */
  /* column-gap: -10px; */
  /* margin-top: 10px; */
}
.left-h4{
color:#002F75;

}
.left-h2{
color: #00122E;
font-size: 3.0rem;
}
.left-p{
color: #00122E;
font-size: 1.0rem;
}
.left-button{
padding: 7px 24px;
border: 1px solid #35246E;
background-color: #35246E;
color: #fff;
border-radius: 8px 8px;
font-size: 1.1rem;
font-weight: 500;
cursor: pointer;
}
.left{
margin-top:70px;
}
.right{
width:40%
}
.rightimg{
  width:80%;
  height:auto;
}
.hamburger{
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .home{
    width: 100%;
  }
 .hamburger{
    display: flex;
}
.nav-menu{
  display: '${click ? 'block' : 'none'}'; 
  position: absolute;
  flex-direction: column;
  justify-content: start;
  top: 40px;
  right: -100%; 
  width: 50%;
  height: 70vh;
 transition: 0.4s; 
  z-index: 10; 
  background: #fff;
  border-left: 1px solid #eee;
}

.nav-menu.active{
  right: 0;
} 
.nav-menu li {
  padding: 1rem;
  width: 100%;
  border-bottom: 0.7px solid #35246E;;
  color: #35246E; 
}
.nav-menu a {
  font-size: 1.2rem;
} 
.mainvecimg{
  display: none;
}
.right{
  display: none;
}
.nav-but{
  padding: 7px ;
}
}
