.reset-otp{
    background-color: #EBF2FF; 
    min-height: 100vh;
    min-width: 100vw;
}
.ro-contain{
    align-items: center;
    justify-content: center;
    padding: 3.3rem;
}
.reset-otp-contain{
    background-color: #F8F8F8;
    padding: 20px;
    width: 850px;
    color: white;
    height: 530px;
    border-radius: 16px;
    margin-left: 240px;
}
.ro-container{
    margin-left: 200px;
    margin-top: 80px;
}
.ro-img{
    margin-left: 120px ;
}
.ro-h2{
    color: #000000;
    font-size: 2.5rem;
    margin-left: 40px ;
}
.ro-p{
    color: #000000;
}
.ro-form{
    background-color:#F8F8F8;
}
.ro-input{
    width: 40px;
    height: 40px;
    font-size: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 9px;
    border:1.5px solid #858585;
    //background-color:#000000; 
    font-weight: bold;
    color: #000000;
    outline: none;
    transition: all 0.1s;
}
.ro-button{
    padding: 7px 18px;
    border: 1px solid #49397C;
    background-color: #49397C;
    color: #fff;
    border-radius: 11px;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    width: 90%;
}