.insight{
    background-color: #EBF2FF; 
    min-height: 100vh;
    min-width: 100vw;
}
.insight-header{
    display: flex;
   /* padding: 1rem; */
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 65px;
}
.insight-search{
    margin-top: 12px;
    display: flex;
    height: 2rem;
    width: 25%;
    margin-right: 135px ;
    margin-bottom: 1.5rem;
    padding: 0.2rem 0.3rem;
    font-size: small;
	background-color: #F1F6FF;
    border:1.5px solid #858585;
    border-radius: 11px;
}
.insight-input{
    outline: none;
    background-color: transparent;
    border: hidden;
    height: 2rem;
    width: 90%;
    margin-right: 38px ;
    margin-bottom: 1.5rem;
    padding: 0.9rem 1.4rem;
}
.insight-search span {
    font-size: 20px;
	color: #000000;
    right: 1vh;
}
.insight-end{
    display: flex;
    padding: 1rem;
    column-gap: 19px;
    margin-top: 1px;
}
.insight-hp{
    margin-top: -8px;
}
.insight-e3{
    margin-top:-3px;
    width: 70%;
    height: 30px;
}
.insight-nav{
    display:flex;
    justify-content: space-between;
    background-color: #F3F4F6;
    height: 60px;
}
.insight-nav-h{
    color:#49397C;
    margin-left: 15px;
    font-size:1.6rem;
}
.insight-drop{
    display:flex;
    padding: 0.5rem; 
    column-gap: 15px;
    margin-right: 195px;
}
.in-main{
    display: flex;
    column-gap: 5px;
    margin-top: 6px;
}
.in-side{
    flex: 1;
}
.in-content{
    flex: 3;
   /* margin-right: 140px; */
}
.in-con{
    display: flex;
    column-gap: 40px;
    margin-right: 130px; 
}
.sigh-uhh{
    margin-top: -170px;
    margin-left: 330px;
}
.in-con-p{
   color: #FF0000;
   cursor: pointer;
}
.in-con-but{
    margin-top: 10px;
    padding: 7px 24px;
    border: 1px solid #35246E;
    background-color: #35246E;
    color: #fff;
    border-radius: 8px 8px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}
@media screen and (max-width: 1200px) {
    .in-con{
      flex-direction:column;
    }
    .in-main{
        flex-direction:column; 
    }
    .in-side{
       flex-flow:row;
    }
  }
@media screen and (max-width: 768px) {
    .insight-nav-h{
        display: none;
    }
    .drop-1{
       width: 100px;
    }
    .drop-2{
        width: 100px;
     }
     .drop-3{
        width: 100px;
     }
    .in-main{
        width: 55%;
    } 
    .in-side{
        width: 280px;
       /* width: 100%; */
        margin-left: 60px;
    }
    .in-con{
        margin-top: 10px;
        }
       .in-con-chart{
        margin-top: 10px;
       }
       .sigh-uhh{
        margin-top: 10px;
        margin-left: 55px;
       }
       .way{
        display: flex;
        column-gap: 5px;
        margin-left: -78px;
       }
       .work{
        display: flex;
        column-gap: 5px;
        margin-left: -78px;
       }
       .gulu{
        display: none;
       }
}