.reset-confirm{
    background-color: #EBF2FF; 
    min-height: 100vh;
    min-width: 100vw;
}
.rc-container{
    align-items: center;
    justify-content: center;
    padding: 3.3rem;
}
.reset-confirm-contain{
    background-color: #F8F8F8;
    padding: 20px;
    width: 850px;
    color: white;
    height: 530px;
    border-radius: 16px;
    margin-left: 240px;
}
.rc-contain{
    margin-left: 200px;
    margin-top: 80px;
}
.rc-img{
    margin-left: 100px ;
}
.rc-h4{
    color: #000000;
    font-size: 1.8rem;
    margin-left: 40px ;
}
.rc-p{
    color: #000000;
    margin-left: 25px ;
}
@media screen and (max-width: 768px) {
    .reset-confirm-contain{
        padding: none;
        margin-top: 45px;
        height: 100%;
        width: 405px;
        margin-left: -43px;
    }
    .rc-contain{
        margin-top: 30px;
        margin-left: -90px;
    }
    .rc-img{
        width: 15%;
        margin-left: 234px;
    }
    .rc-h4{
        margin-left: 200px;
        font-size: 1.1rem;
    }
    .rc-p{
        font-size: 0.9rem;
        margin-left: 100px;
    }
}